.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    max-height: 30vh;
    font-size: 0.9rem;
}

.experience__container > div {
    background: transparent;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid var(--color-secondary);
    transition: var(--transition);
    box-shadow: 2px 2px 4px var(--color-secondary);
}

.experience__container > div:hover {
    background: white;
    box-shadow: 2px 2px 8px var(--color-secondary);
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);

}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(6rem + 2vw);
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-left: 1rem;
    margin-top: 6px;
    color: var(--color-primary);
    font-size: 2.3vw;
    size: 10rem;
    
}

@media screen and (max-width: 1650px) {
    .experience__content {
        gap: 2rem
    }
}
@media screen and (max-width: 1410px) {
    .experience__container > div {
        padding: 2rem 2rem;
    }
}
@media screen and (max-width: 1150px) {
    .experience__content {
        grid-template-columns: 1fr;
    }
    .experience__container {
        grid-template-columns: 1fr 1fr;
    }
}
