.navbar {
    z-index: 1;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: invert(20%) blur(1px);
}
.navbar__option {
    float: left;
    padding: 0.9rem;
    display: flex;
    border-radius: 50%;
    font-size: 1.1rem;
}

.navbar__option:hover {
    background-color: #ffffff60;
}

.active {
    background-color: #ffffffa0 !important;
}